<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <a href="/new">
    <button>
      Add a new message
    </button>
  </a>

  
    <ul>
      <% for(const msg of messages) {%>
      <li>
        <div><sub><%=msg.added%></sub></div>
        <div><strong><%=msg.user%></strong></div>
        <%=msg.text%>
      </li>
      <% } %>
  </body>
</html>
